In [ ]:
#Colab users uncomment this code
#File for this notebook is Ecommerce Purchases.csv

In [16]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [17]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [24]:

downloaded = drive.CreateFile({'id':'1F4di2t_MwIMHSlUHzxIgHVq_QFBWf5O0'}) # replace the id with id of file you want to access
downloaded.GetContentFile('Ecommerce Purchases.csv')

# PANDAS EXERCISE
<hr style="height:5px;border-width:2;color:gray">

In this exercise you'll be given some Fake Data regarding purchases done through Amazon. You'll be using that data to answer some questions.<br>
Fill the empty cells with your code.

<div class="alert alert-block alert-warning">
    <b>Note</b>: The <b>*</b> marked questions are relatively harder.
</div>

#### Import pandas and numpy

In [12]:
import pandas as pd
import numpy as np

#### Load the file <code>Ecommerce Purchases.csv</code>

In [25]:
df = pd.read_csv("Ecommerce Purchases.csv")

#### Taking a look at the dataframe
1. Display first 5 rows of the dataset
2. Give a concise summary of the dataframe

In [26]:
df.head()

                                             Address  ... Purchase Price
0  16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14
1  9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
2                   Unit 0065 Box 5052\nDPO AP 27450  ...           0.95
3              7780 Julia Fords\nNew Stacy, WA 45798  ...          78.04
4  23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  ...          77.82

[5 rows x 14 columns]

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

#### Find the mean of purchase prices (The answer should be a single float value)

In [30]:
df.mean()

Credit Card         2.341374e+15
CC Security Code    9.072178e+02
Purchase Price      5.034730e+01
dtype: float64

#### Find the highest and lowest purchase prices (The answer to each should be a single float value)

## Questions

####  1. How many people made the purchase during the AM and how many people made the purchase during PM ?
<div class="alert alert-block alert-info">
    <b>Hint</b>: Checkout <a href = "https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html"><code>value_counts()</code></a>.
</div>

#### 2. What are the 5 most common Job Titles?

#### 3. What is the email of the person with the following Credit Card Number: <code>4926535242672853</code>
(You should only print the e-mail and not the entire row)

#### 4. How many people have <code>American Express</code> as their Credit Card Provider and made purchase above $95 ?
(Print a single number)

#### 5*. What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) 
<div class="alert alert-block alert-info">
    <b>Hint</b>: You may have to use <b>python split()</b>, <b>df.apply()</b>, <b>lambda (optional)</b> and other functions.
</div>

#### 6*. Use the given dictionary to replace the language codes with their corresponding languages
<div class="alert alert-block alert-info">
    <b>Hint</b>: You may have to use a function not covered in the material.
</div>

In [ ]:
lang = {'ru':'Russian', 'de':'German', 'el':'Greek', 'pt':'Portugese', 'en':'English', 'fr':'French', 'es':'Spanish', 'it':'Italian', 'zh':'Chinese'}

#### 7*. Which language speakers have the third highest total purchase amount.
(You should print a single string)