In [ ]:
#Colab users uncomment this code
#File for this notebook is Ecommerce Purchases.csv

In [1]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [2]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [3]:

downloaded = drive.CreateFile({'id':'1F4di2t_MwIMHSlUHzxIgHVq_QFBWf5O0'}) # replace the id with id of file you want to access
downloaded.GetContentFile('Ecommerce Purchases.csv')

# PANDAS EXERCISE
<hr style="height:5px;border-width:2;color:gray">

In this exercise you'll be given some Fake Data regarding purchases done through Amazon. You'll be using that data to answer some questions.<br>
Fill the empty cells with your code.

<div class="alert alert-block alert-warning">
    <b>Note</b>: The <b>*</b> marked questions are relatively harder.
</div>

#### Import pandas and numpy

In [4]:
import pandas as pd
import numpy as np

#### Load the file <code>Ecommerce Purchases.csv</code>

In [39]:
df = pd.read_csv("Ecommerce Purchases.csv")

#### Taking a look at the dataframe
1. Display first 5 rows of the dataset
2. Give a concise summary of the dataframe

In [6]:
df.head()

                                             Address  ... Purchase Price
0  16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14
1  9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
2                   Unit 0065 Box 5052\nDPO AP 27450  ...           0.95
3              7780 Julia Fords\nNew Stacy, WA 45798  ...          78.04
4  23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  ...          77.82

[5 rows x 14 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

#### Find the mean of purchase prices (The answer should be a single float value)

In [8]:
df['Purchase Price'].mean()

50.34730200000025

#### Find the highest and lowest purchase prices (The answer to each should be a single float value)

In [13]:
df['Purchase Price'].min()

0.0

In [14]:
df['Purchase Price'].max()

99.99

## Questions

####  1. How many people made the purchase during the AM and how many people made the purchase during PM ?
<div class="alert alert-block alert-info">
    <b>Hint</b>: Checkout <a href = "https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html"><code>value_counts()</code></a>.
</div>

In [16]:
df['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

#### 2. What are the 5 most common Job Titles?

In [17]:
df['Job'].value_counts()[:5]

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Purchasing manager                   27
Name: Job, dtype: int64

#### 3. What is the email of the person with the following Credit Card Number: <code>4926535242672853</code>
(You should only print the e-mail and not the entire row)

In [19]:
df[df['Credit Card']==4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

#### 4. How many people have <code>American Express</code> as their Credit Card Provider and made purchase above $95 ?
(Print a single number)

In [35]:
s = df[df['CC Provider']=="American Express"]['Purchase Price']

In [40]:
df1 = pd.DataFrame(s)

In [43]:
len(df1[df1['Purchase Price']>95])

39

#### 5*. What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) 
<div class="alert alert-block alert-info">
    <b>Hint</b>: You may have to use <b>python split()</b>, <b>df.apply()</b>, <b>lambda (optional)</b> and other functions.
</div>

In [51]:
g = lambda email : email.split('@')[1] 
df_email_provider = df['Email'].apply(g)

In [53]:
df_email_provider.value_counts()[:5]

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

#### 6*. Use the given dictionary to replace the language codes with their corresponding languages
<div class="alert alert-block alert-info">
    <b>Hint</b>: You may have to use a function not covered in the material.
</div>

In [55]:
lang = {'ru':'Russian', 'de':'German', 'el':'Greek', 'pt':'Portugese', 'en':'English', 'fr':'French', 'es':'Spanish', 'it':'Italian', 'zh':'Chinese'}

In [56]:
code_to_lang = lambda code : lang[code]
df['Language'] = df['Language'].apply(code_to_lang)

In [57]:
df['Language']

0           Greek
1          French
2          German
3         Spanish
4         Spanish
          ...
9995      Italian
9996    Portugese
9997        Greek
9998      Spanish
9999        Greek
Name: Language, Length: 10000, dtype: object

#### 7*. Which language speakers have the third highest total purchase amount.
(You should print a single string)

In [71]:
df = df.groupby('Language').sum()
df.sort_values(by=["Purchase Price"], ascending=False, inplace=True)

In [81]:
df.index[2]

'Russian'